body{
    align-items: center;
    background-color: rgb(238, 162, 95);
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: whitesmoke;  
  align-items: center; 
}

ul{
    background-color: rgb(240, 248, 255, 0.8);
    color: black;
    border-radius: 8px;
    padding: 20px;
    align-items: center;
}